/* GENERAL CSS */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
  font-size: 62.5%;  /* 62.5% de 16px = 10px */
}

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.sidewalk{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: flex-end;
}



/* CONTROL PANEL CSS */
.controlPanel{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #797575;
    margin-bottom: 20px;
}
.controlPanel .display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 180px;
    background-color: rgb(46, 206, 60);
    border: 6px solid #333333;
    padding: 10px;
    border-radius: 100px;
    font-size: 2.2rem;
    font-family: "VT323", monospace;
}
.controlPanel button{
    height: 60%;
    width: 3%;
    font-family: "VT323", monospace;
    font-size: 2.2rem;
    border-radius: 50%;
}
.controlPanel .highLight{
    border: 6px solid #ca1136b4
}



/* ROAD CSS */
.road{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: gray;
    gap: 30px;
    border-top: 10px solid white;
}

.road > .lines{
    flex: 1;
    height: 10px;
    background-color: #ddd;
}



/* BUILDING CSS */
.building{
    display: flex;
    height: 100%;
    width: 500px;
    background-color: #319DA0;
    gap: 10px;
}
.column{
    display: flex;
    flex-direction: column;
    background-color: #0006;
    flex: 2;
}
.floor{
    flex: 1;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.door{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5%;
    background-color: brown;
    width: 40%;
    height: 80%;
    border: solid 5px #fff6;
    border-bottom: none;
}
.door::after{
    content: "";
    width: 30%;
    height: 20%;
    border-radius: 100%;
    background-color: rgb(250, 181, 53);
}
.ground{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-bottom: 2px solid transparent;
}
.window{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: solid 5px #fffc;
    background-color: #068888;
    height: 50%;
    width: 40%;
}
.window::after{
    content: "";
    position: absolute;
    border: 1px solid #fffc;
    top: 0px;
    height: 100%;
    width: 1px;
    background-color: #fffc;
}
.window::before{
    content: "";
    position: absolute;
    border: 1px solid #fffc;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #fffc;
}



/* HOISTWAY CSS */
.hoistWay{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    background-color: #fff9;
}
.elevator{
    position: absolute;
    border: solid black 3px;
    border-top-width: 10px;  
    background-color: #fffA;
    width: 80%;
    bottom: 0;
    transition: bottom 1.5s ease-in-out;
}




/* TREE CSS */
.tree{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tree::before{
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: green;
}
.tree::after{
    content: "";
    width: 20px;
    height: 100px;
    background-color: brown;
}